<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HTML Chess - <%= myUserName %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
        <link href='https://fonts.googleapis.com/css?family=Cinzel Decorative' rel='stylesheet'>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="waiting-for-player">
          <div style="background-color: rgb(204, 153, 102); padding: 20px; border-radius: 4px;">
            Waiting for another player to log in...
          </div>
        </div>

        <dialog id="pawnUpdate">
            <form method="dialog">
              <p>
                <label>What piece would you like to upgrade to?
                  <select>
                    <option value="default">Choose…</option>
                    <option>Queen</option>
                    <option>Bishop</option>
                    <option>Rook</option>
                    <option>Knight</option>
                  </select>
                </label>
              </p>
              <div>
                <button value="cancel">Cancel</button>
                <button id="confirmBtn" value="default">Confirm</button>
              </div>
            </form>
          </dialog>
          <output></output>
        
        <div id="main-div">
            <div id="main-hud-div">
                <div id="title"><h1>HTML Chess</h1></div>
                <div id="player-two-hud">
                    <h1 style="line-height:28px;"><span id="player-two-name">Player Two</span><br><span style="font-size: 70%; margin-left: 15px;">Black <span id="player-two-turn"></span></span></h1>
                    <div id="dead-black-pieces"></div>
                </div>
                <div id="player-one-hud">
                    <h1 style="line-height:28px;"><span id="player-one-name">Player One</span><br><span style="font-size: 70%; margin-left: 15px;">White <span id="player-one-turn"></span></span></h1>
                    <div id="dead-white-pieces"></div>
                </div>
            </div>

            <div id="app-container">
              <div id="app"></div>
            </div>

            <div id="main-chat-div">
              <div id="chat-title"><h2>Chat</h2></div>
              <textarea id="chat-box" name="chat" readonly></textarea>
              <input type="text" id="chat-input"></input>
              <button id="chat-button">Send</button>
            </div>
        </div>
        
        <script src="/socket.io/socket.io.js"></script>
          <script>
            const socket = io();

            var myUserName = '<%= myUserName %>';
            var myID = '<%= myID %>';

          </script>
        <script src="./common/chess.js" async defer></script>
    </body>
</html>